<template>
    <Layout>
        <h5>$page.allGoogleSheet object:</h5>
          {{ $page.allGoogleSheet }}
          <h5>Rendered data:</h5>
          <ul>
              <li v-for="(row, index) in $page.allGoogleSheet.edges" :key="index">
                  {{ row.node.title }}: {{ row.node.daily_min }} - {{ row.node.daily_max }}
              </li>
          </ul>
    </Layout>
</template>

<page-query>
  query MyData {
    allGoogleSheet {
      edges {
        node {
          id
          title
          exercise
          repetition_min
          repetition_max
          daily_min
          daily_max
        }
      }
    }
  }
</page-query>
